* {
    box-sizing: border-box;
    list-style-type: none;
    margin: 0;
}

body {

    /* background-color: #B3C2B3; */
    background-color: white;
}

header {
    position: sticky;
    top: 0;
}

.nav {
    text-align: center;
    background-color: #6d8d24;
    padding: 20px;
}

li {
    display: inline-block;
    padding-left: 50px;
    padding-right: 50px;
    color: white;

}

li a {
    text-decoration: none;
    color: white;
}

li a:hover {
    color: #213921;
    transition: 0.4s;
}


#headshot {
    height: 300px;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

.main-content-border {
    border: 2px solid #6d8d24;
    border-radius: 5px;
    margin: 10px;
}

.bio {
    text-align: center;
    color: black;
}

h1 {
    color: #6d8d24;
}

.socials {
    position: fixed;
    display: inline-block;
    opacity: 0.3;
    transition: opacity 0.4s ease;
}

.socials:hover {
    opacity: 1;
}


.socials a {
    text-decoration: none;
    padding: 5px;
    display: block;
    color: #6d8d24;

}

.socials i {
    transition: transform 0.2s ease;
}

.socials a:hover i {
    transform: scale(1.1);
    color: #213921;
}

.about {
    margin-left: 52.5px;
    margin-right: 52.5px;
    padding: 5px;
}

.about h3 {
    color: #213921;
}

.skills {
    margin-left: 52.5px;
    margin-right: 52.5px;
    display: flex;
    margin-bottom: 20px;
}

.skills section {
    width: 50%;
    padding: 5px;
}

.skills section h3 {
    color: #213921;
}

.skills #tech-skills {
    background-color: lightgray;
}

.skills #soft-skills {
    background-color: darkgray;
}