@font-face {
    src: url(fonts/DMSans-VariableFont_opsz\,wght.ttf);
    font-family: "DM Sans";
}

@font-face {
    src: url(fonts/Inter-VariableFont_opsz\,wght.ttf);
    font-family: NewInter;
}

* {
    font-family: NewInter, 'Courier New', Courier, monospace;
    line-height: 1.9;
    box-sizing: border-box;
    list-style-type: none;
    margin: 0;
}

body {

    /* background-color: #B3C2B3; */
    background-color: white;
}

header {
    position: sticky;
    top: 0;
}

.nav {
    text-align: center;
    background-color: #6a7f10;
    padding: 20px;
}

.nav li {
    display: inline-block;
    padding-left: 50px;
    padding-right: 50px;
    color: white;

}

.nav li a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

.nav li a:hover {
    color: #213921;
    transition: 0.4s;
}


#headshot {
    height: 300px;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

.main-content-border {
    /*border: 2px solid #6a7f10;*/

    border-radius: 5px;
    margin: 10px;
    margin-bottom: 100px;
}

.bio {
    border: 2px solid #6a7f10;
    padding-bottom: 20px;
    text-align: center;
    color: black;
}

h1 {
    color: #6a7f10;
}


.socials {
    position: fixed;
    display: inline-block;
    opacity: 0.3;
    transition: opacity 0.4s ease;
}

.socials:hover {
    opacity: 1;
}


.socials a {
    text-decoration: none;
    padding: 5px;
    display: block;
    color: #6d8d24;

}

.socials i {
    transition: transform 0.2s ease;
}

.socials a:hover i {
    transform: scale(1.1);
    color: #213921;
}

.about {
    margin-left: 52.5px;
    margin-right: 52.5px;
}

.about h3 {
    color: #213921;
}

.skills {
    margin-left: 52.5px;
    margin-right: 52.5px;
    display: flex;
    margin-bottom: 20px;
}

.skills section {
    width: 50%;
    padding: 5px;
}

.skills section h3 {
    color: #213921;
}

.skills #tech-skills {
    background-color: lightgray;
}

.skill-item {
    overflow: hidden;
    cursor: pointer;
}

.skill-title {
    text-transform: uppercase;
    padding: 10px;
    font-weight: bold;
    color: white;
    transition: all 0.3s ease;
}


.skill-details {
    height: 0;
    overflow: hidden;
    line-height: 1.5;
    padding: 0 10px;
    opacity: 0;
    transition: height 0.3s ease, opacity 0.3s ease;
}

.skill-item.active .skill-title {
    color: #6a7f10;
    transition: 0.4s;
}

.skill-item.active .skill-details {
    opacity: 1;
}

.skills #soft-skills {
    background-color: darkgray;
}

.projects h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 2em;
    color: #213921;
    margin-bottom: 20px;
}

.container {
    display: flex;
    height: 90vh;
    margin-left: 64.5px;
    margin-right: 64.5px;
}

.box {
    max-height: 500px;
    width: 50%;
}

#box1 {
    background-color: #6a7f10;
    color: white;
    padding: 50px;
}


#project-name {
    text-transform: uppercase;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1.5px solid black;
}

#project-bio {
    max-width: 85%;
    padding-bottom: 40px;
}

#box1 p {
    padding-bottom: 50px;
}

#box1 button {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9rem;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#box1 button:hover {
    background-color: #6a7f10;
    color: white;
    border: 1px solid white;
    text-decoration: underline;
}

#box2 {
    width: 75%;
}

#box2 img {
    max-height: 500px;
}

#expr-h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    color: #213921;
    margin-bottom: 20px;
}

.experience {
    margin-top: 20px;
    padding-top: 10px;
    background-color: darkgray;
    text-transform: uppercase;
    color: #213921;
    height: 90vh;

}

.experience ul {
    text-transform: none;
    color: black;
}

.education {
    margin-left: 64.5px;
    margin-right: 64.5px;
    margin-bottom: 40px;
    padding: 5px;

}

.affiliations {
    margin-left: 64.5px;
    margin-right: 64.5px;
    padding: 5px;
}

.contact-info {
    height: 90vh;
    text-align: center;
    text-transform: uppercase;
    margin-top: 60px;
}

.contact-info h2 {
    font-size: 2em;
    color: #213921;
    margin-bottom: 20px;
}

.card-container {
    display: flex;
    justify-content: space-around;
}

.cards {
    height: 500px;
    width: 400px;
    background-color: lightgray;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cards:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.cards img {
    height: 200px;
    width: 100%;
}

footer {
    height: 60px;
    background-color: black;
}